

body {
    background-color: antiquewhite;
    color: #1ecbe2;
    font-family:monospace;
}

h1{
    text-align: center;
    margin: 10px;
}

.buttons{
    text-align: center;
    margin: 10px;
}

h4{
    margin-left: 25%;
    margin-top: 10px;
}

.answer{
    margin-left: 25%;
    margin-top: 10px;
}

.history{
    margin-left: 25%;
    margin-top: 10px;
}